@font-face {
    font-family: 'FRB';
    src: url('../fonts/FiraSans-Bold.ttf');
    font-style: normal;

}
@font-face {
    font-family: 'FRBI';
    src: url('../fonts/FiraSans-BoldItalic.ttf');
    font-style: normal;

}
@font-face {
    font-family: 'FRI';
    src: url('../fonts/FiraSans-Italic.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'FRM';
    src: url('../fonts/FiraSans-Medium.ttf');
    font-style: normal;

}
@font-face {
    font-family: 'FRMI';
    src: url('../fonts/FiraSans-MediumItalic.ttf');
    font-style: normal;

}